body {
  font-family: system-ui;
  background: white;
  color: black;
  
}
#title{
  text-align:center;
  background-color:yellow;
  font-family:Garamond;
}

#tribute-info

{
  text-align:left;
  background-color:yellow;
}
#img-caption{
  color:red;
}
#image{
  width:50%;
  height:50%;
  object-fit:contain;
}
#content{
  padding-left:15%;
  padding-right:15%;
  padding-bottom:5%;
}
